a[data-icon]:hover{
	cursor: none;
}

.cursor{
	position: fixed;
	display: none;
	z-index: 999999;
	width: 5em;
	height: 5em;
}

.cursor[data-icon="1"]{
	background: orange;
}
.cursor[data-icon="2"]{
	background: blue;
}
.cursor[data-icon="3"]{
	background: yellow;
}
